<a href="/user/all">Back to all users</a>

<h2>{{user.username}}</h2>

<a href="/user/{{user._id}}/edit">Edit User</a>

<form action="/user/{{user._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete User">
</form>

<h3>Projects</h3>

<ul>
    {{#each projects}}
        <li><a href="/user/{{userId}}/projects/{{_id}}">{{name}}</a></li>
    {{/each}}
</ul>

<a href="{{user._id}}/projects/new">Add New Project</a>