<div class="jumbotron">
     <h2 class="display-4 text-center">{{user.username}}'s Projects</h2>

    <div class="container">
        <div class="row justify-content-center">
            <a 
                href="/user/{{user._id}}/edit"
                class="btn btn-warning"
            >Edit User</a>

            <form action="/user/{{user._id}}?_method=DELETE" method="post">
                <input 
                    type="submit" 
                    value="Delete User"
                    class="btn btn-danger ml-5"
                >
            </form>
        </div>
    </div>
</div> 
   

<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="list-group mb-5 mt-5">
                {{#each projects}}
                    <a 
                        href="/user/{{userId}}/projects/{{_id}}"
                        class="list-group-item list-group-item-action
                        flex-colum align-items-start"
                    >
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{name}}</h5>
                        </div>
                        <p class="mb-1">{{description}}</p>
                    </a>
                {{/each}}
            </div>
            <a 
                href="{{user._id}}/projects/new"
                class="btn btn-primary"
            ><i class="material-icons">library_add</i></a>
        </div>
    </div>
</div>
