<div class="jumbotron text-center">
    <h1 class="display-4">{{project.name}}</h1>
        <a href="/user/{{project.userId}}/projects/{{project._id}}/edit"
            id="edit">
            <i class="material-icons">
                edit
            </i>
        </a>

        <a id="delete" data-toggle="modal" data-target="#deleteModal">
            <i class="material-icons">
                delete
            </i>
        </a>
    <div class="container">
    <div class="row justify-content-center">
        <p>{{project.description}}</p>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this project?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <form action="/user/{{project.userId}}/projects/{{project._id}}?_method=DELETE" method="post">
                                <input class="btn btn-danger" type="submit" value="Delete Project">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="container text-center">
    <h3>Looking for help with:</h3>
</div>
<div class="container mt-5">
        <a class="btn btn-primary mb-3 float-right"
            href="/user/{{project.userId}}/projects/{{project._id}}/tasks/new">
            <i class="material-icons">library_add</i>
        </a>
    <div class="row mb-5">
        {{#each tasks}}
            <div class="col-sm-4">
                <div class="card border-secondary" style="width: 18rem;">
                    <a href="{{projectId}}/tasks/{{_id}}" id="tasks" data-toggle="modal" data-target="#popup-modal-{{@index}}">
                        <div class="card-body">
                            <h5 class="card-title">{{name}}</h5>
                            <p class="card-text">{{shortDesc}}</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="modal fade" id="popup-modal-{{@index}}" tabindex="-1" role="dialog" aria-labelledby="taskModal" aria-hidden="true">
                <div class="vertical-alignment-helper">
                    <div class="modal-dialog vertical-align-center" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {{description}}
                        </div>
                        <div class="modal-footer">
                            <a href="{{projectId}}/tasks/{{_id}}" class="btn btn-primary">Make changes to this task</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>    
        {{/each}}
    </div>
</div>
