<a href="/user/all">Back to all users</a>

<h2>{{project.name}}</h2>

<a href="/user/{{project.userId}}/projects/{{project._id}}/edit">Edit Project</a>

<form action="/user/{{project.userId}}/projects/{{project._id}}?_method=DELETE" method="post">
    <input type="submit" value="Delete Project">
</form>

<h3>Jobs</h3>

<a href="/user/{{project.userId}}/projects/{{project._id}}/tasks/new">Add New Tasks!</a>

<ul>
    {{#each tasks}}
        <li><a href="{{projectId}}/tasks/{{_id}}">{{name}}</a></li>
    {{/each}}
</ul>