<div class="jumbotron text-center">
    <h2 class="display-4">{{project.name}}</h2>
    <div class="container">
    <div class="row justify-content-center">
        <a class="btn btn-warning" href="/user/{{project.userId}}/projects/{{project._id}}/edit">Edit Project</a>

        <form action="/user/{{project.userId}}/projects/{{project._id}}?_method=DELETE" method="post">
            <input class="btn btn-danger ml-5" type="submit" value="Delete Project">
        </form>
    </div>
</div>
</div>
<div class="container text-center">
    <h3>Looking for help with:</h3>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="list-group mb-5 mt-5">
                {{#each tasks}}
                    <a 
                        href="{{projectId}}/tasks/{{_id}}"
                        class="list-group-item list-group-item-action
                        flex-colum align-items-start"
                    >
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{name}}</h5>
                        </div>
                        <p class="mb-1">{{description}}</p>
                    </a>
                {{/each}}
            </div>

            <a class="btn btn-primary"
            href="/user/{{project.userId}}/projects/{{project._id}}/tasks/new">+ New Tasks</a>
        </div>
    </div>
</div>
